# Pacman Dongle Adapter Shield - Default Kconfig

config ZMK_DISPLAY
  default y

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
  default y

config DISPLAY
  default y

config LVGL
  default y

config LVGL_COLOR_DEPTH
  default 16

config LVGL_HOR_RES
  default 320

config LVGL_VER_RES
  default 172

config LVGL_USE_DISP
  default y

config LVGL_BUF_ALLOC_DYNAMIC
  default y

config SPI
  default y

config GPIO
  default y

config ZMK_DONGLE_PACMAN
  default y

config ZMK_DONGLE_ACTION
  default y
